body{
    background-color:darkslategrey;
    color: rgb(224, 167, 91);
    display: flex;
    justify-content: space-around;
    font-family: 'Space Mono', monospace;
    margin: auto;
    font-size: 30px;
    padding-top: 30px;
}

h1{
    color: rgb(224, 167, 91);
    font-size: 80px;
    font-family: 'Shrikhand', serif;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
}

a{
    color: deeppink;
}

a:visited{
    color: deeppink;
}

a:hover{
    color:rgb(255, 187, 223);
    background-color: deeppink;
    box-shadow: 9px 9px 26px #797998, -9px -9px 26px #c1c1f2;
}

img{
    background-color: deeppink;
    padding: 10px;
    box-shadow: 9px 9px 26px #797998, -9px -9px 26px #c1c1f2;
}

img:hover{
    transform: scale(110%);
    filter: saturate(300%);
    box-shadow: 18px 18px 52px #797998, -18px -18px 52px #c1c1f2;
}

.container{
    display: flex;
    flex-direction: column;
    padding-top: 150px;
}

.glanceback{
    padding-bottom: 10px;
}

footer{
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 20px 0;
    text-align: center;
    font-size: 30px;
}

.paragraph{
    display: flex;
    flex-direction: column;
    justify-content:start;
    padding: 30px;
    border-radius: 20px;
    border-style: solid;
    border-width: 10px;
    border-color: deeppink;
    box-shadow: 9px 9px 26px #797998, -9px -9px 26px #c1c1f2;
}